<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SimbuGráfica
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<app-tab4>
<div>
  <div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    <button class="btn btn-primary btn-block" (click)="randomize()">Update</button>
  </div>
</div>
</app-tab4>