<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="bluetooth-outline"></ion-icon>
      <ion-label>Conexión</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>SimbuMapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>SimbuGráfica</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>

   
  </ion-tab-bar>

</ion-tabs>
