<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SimbuMapa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SimbuMapa</ion-title>
    </ion-toolbar>
      </ion-header>

  
      <ion-card>

        <img  src="assets\Imagenes\Mapa.PNG"/>
    
        
      </ion-card>

  <h2>Temperatura: 25°C</h2> 
  <h2>Humedad: 90%</h2>
  <h2>Particulas: 60PM</h2>
  
</ion-content>
