<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conxión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bluetooth</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="ActivarBluetooth(data.address)" expand="full" color="dark">Buscar</ion-button>

  <ion-text color="medium">
    <h6> Presione el botón buscar para encontrar los dispositivos cercanos</h6>
  </ion-text>



  <div *ngFor="let data of Devices">
    <p>
      {{data.name}}
     </p>
     <p> {{data.id}}</p>

     <button (click)="connect(dara.address)"></button>
  </div>

</ion-content>
