<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Indormación</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Ques es SIMBU</h1>
  <h4>SIMBU es un proyecto desarrollado por profesores y estudiantes de la universidad de Santander, enfocado 
    a la medición de la calidad del aire, el atractivo de este proyecto es su bajo costo de producción, 
    siendo su precisión y calidad equiparables a las de un equipo desarrollado por empresas reconocidas 
    y de un costo mucho mayor. 


  </h4>
  <h1>Que son las partículas PM2,5</h1>
  <h4>partículas PM 2.5 son aquellas partículas cuyo diámetro es igual o inferior a 2.5 micras. Una micra 
    o micrómetro es una unidad de longitud que equivale a una milésima parte de un milímetro, por 
    lo que estas partículas son indetectables para el ojo humano. Este grado de indefectibilidad supone 
    incluso un factor añadido a la importancia que hay que derivar en estas partículas.

  </h4>
  


  
</ion-content>
